/* DEFINIÇÃO DAS VARIÁVEIS ************************************
AS VARIÁVEIS DO CSS SÃO DEFINIDAS NA PSEUDOCLASSE :root
- A palavra "root" significa "raiz" e nos sistemas computacionais remetem à base
- As variáveis sempre começaram com "--" seguido do nome que você quiser e
  são definidas como propriedades

Aprenda mais sobre:
- Pseudo-classes: https://www.w3schools.com/css/css_pseudo_classes.asp
- Variáveis CSS: https://www.w3schools.com/css/css3_variables.asp
*/
:root{
    --cor-do-texto: #2f2f2f;
    --cor-primaria: #ececec;
    --cor-secundaria: #9e9e9e;
    --cor-destaque: #71aac2;
    --borda-suave: 1px #00000044 solid;
}
/* RESET DAS PROPRIEDADES CSS ********************************
O seletor "*" aplica suas propriedades a todos os elementos
*/
*{
    font-size: 16px; /*Tamanho da fonte*/
    color: var(--cor-do-texto); /*Cor do texto*/
    outline: 0; /*Borda quando o elemento é selecionado*/
    padding: 0; /*Espaço de preenchimento*/
    border-width: 0; /*Espessura da borda*/
    margin: 0; /*Margem*/
    box-sizing: border-box; /*Tamanho da caixa (box-model)*/
}
/* CONFIGURAÇÕES DO BODY *************************/
body{
    padding: 2rem;
    /*A unidade de medida "rem" é similar à unidade "em"
    - é dada com base no tamanho da fonte!
    A unidade "em" usa como base o tamanho do elemento atual
    A unidade "rem" usa como base o tamanho definido na raiz do documento
    Aprenda mais sobre unidades CSS em:
    - https://www.w3schools.com/cssref/css_units.php */
    background-color: var(--cor-secundaria); /*Para usar variáveis usa-se a função: var()*/
}
body > *{ /*Formata qualquer elemento que seja filho direto de <body>*/
    width: 60%; /*Largura*/
    max-width: 1000px; /*Largura máxima permitida*/
    margin: auto; /*Centraliza elementos de bloco*/
    background-color: var(--cor-primaria);
}
/* CONFIGURAÇÕES DOS TÍTULOS ****************************/
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}
/* CONFIGURAÇÕES DA ÁREA DE NAVEGAÇÃO ********************/
nav{
    /*Faz os cantos superiores arredondados*/
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
nav div{
    text-align: center; /*Centraliza os textos dos menus que estão em <div>*/
}
nav a{
    padding: 1rem; /*Aumeta o preenchimento (conforto visual) dos menus*/
}
nav a:hover{ /*Pseudo-classe de "quando o mouse passar em cima" */
    background-color: var(--cor-destaque);
}
nav div a{
    border-left: var(--borda-suave); /*Cria a linha divisória dos menus*/
}
/* CONFIGURAÇÕES DO CABEÇALHO ********************************/
header{
    padding: 3rem 1rem; /*Bastante espaço para dar destaque*/
    border-bottom: var(--borda-suave); /*Cria linha divisória inferior*/
}
/* CONFIGURAÇÕES DA ÁREA PRINCIPAL ****************************/
main{
    padding: 1rem; /*Conforto visual*/
    border-bottom: var(--borda-suave); /*Cria linha divisória inferior*/
}
form textarea{
    font-size: 2rem; /*Aumeta o tamanho do texto que o usuário está digitando*/
    display: block; /*Forçar a quebra de linha com os outros elementos*/
    resize: none; /*Impede que o usuário redimensione o <textarea>*/
    width: 100%; /*Largura do <textarea>*/
    height: 5rem; /*Altura do <textarea>*/
    border: var(--borda-suave);
    border-radius: 0.5rem; /*Borda arredondada*/
}
/* SELETOR POR ATRIBUTO
Também é possível definir seletores a partir dos atributos dos elementos
Basta abrir colchetes e definir o atributo */
form input[type="button"]{
    font-weight: bolder; /*Negrito*/
    width: 100%; /*Largura*/
    padding: 1rem;
    margin-top: 1rem; /*Espaço de distância do elemento anterior (superior)*/
    background-color: var(--cor-destaque);
    border-radius: 0.5rem; /*Borda arredondada*/
    box-shadow: -2px 2px var(--cor-secundaria); /*Sombra*/
}
form input[type="button"]:hover{
    background-color: #4c8ee0;
}
/* CONFIGURAÇÕES DA SESSÃO DE POSTAGENS ***********************/
section{
    padding: 1rem;
    border-bottom: var(--borda-suave);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
/* DEFINIÇÕES DE CLASSES **************************************/
.material-symbols-outlined{
    font-size: 1rem; /*Sobrescreve o tamanho padrão dos ícones do Material Symbols*/
}
.d-flex{
    display: flex;
    align-content: space-between
}
.d-flex > *{
    width: 100%;
}